@import '../Mixins';

.Section {
    padding: 1rem;
    width: 100%;

    section {
        @include flexContent(space-around, row);

        margin: 0.9rem 0 0.9rem 0;
        padding: 1rem 3rem;
        width: 100%;
        border: 0.5px solid #fff;
        border-radius: 0.5rem;
        background: rgb(255, 138, 138);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.253);

        .item-tab {
            width: 20%;
            text-align: left;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .details {
            width: 80%;
            color: #fff;
            text-align: left;

            h4 {
                width: 100%;
            }

            p {
                font-size: 20px;
            }

            ul {
                list-style: none;
                display: none;
            }
        }
    }
}
